{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        Blog Title
        <hr />
        Home -
        {% if loggedUser == false %}
            <a href="{{ path('login') }}">Login</a>
        {% else %}
           <a href="{{ path('admin') }}">Admin</a>
        {% endif %}
    </div>

    <div class="content">
        {% block message %}

            {% for flashMessage in app.session.flashbag.get('success') %}

                {{ flashMessage }}

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}

                {{ flashMessage }}

            {% endfor %}
            
            
            <table border="1">
                <tr>
                    <td> 
                        {{ Post.getInsertionDate() }} {{ Post.getTitle() }}
                    </td>
                </tr>
                <tr>
                    <td> 
                        {{ Post.getContent() }}
                    </td>
                </tr>
                <tr>
                    <td> 
                        {{ Post.getAuthor().getName() }}
                    </td>
                </tr>
            </table>
            <br />

            {% for comment in Comments %}
                {% if comment.getUrl() != NULL %}
                    <a href="{{ comment.getUrl() }}">{{ comment.getName() }}</a>
                {% else %}
                   {{ comment.getName() }}
                {% endif %}
                 said ({{ comment.getInsertionDate() }})
                <br />
                {{ comment.getComment() }}
                <br />

            {% endfor %}
            
            <br /> <br />

            Leave a Comment

            <form action="/add-comment/{{ Post.getId() }}" method="POST">

                Name: <input name="name" type="text" />
                Email (Optional): <input name="email" type="text" />
                
                Url (Optional): <input name="url" type="text" />
                Comment: <textarea name="comment"></textarea>
                
                <button type="submit">Send</button>


            </form>


        {% endblock %}
    </div>

    <div class="footer">
        © 2017 - Imprint
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    header {text-align:center}
    
</style>
{% endblock %}
