{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        Blog Title
        <hr />
        <a href="{{ path('homepage') }}">[Overview]</a> - <a href="{{ path('new-entry') }}">[New Entry]</a> - <a href="{{ path('edit-imprint') }}">[Edit Imprint]</a> - <a href="{{ path('ip-blacklist') }}">[IP-Blacklist]</a> - <a href="{{ path('logout') }}">[Logout]</a>
    </div>

    <div class="content">
        {% block message %}

            
            {% for flashMessage in app.session.flashbag.get('success') %}

                {{ flashMessage }}

            {% endfor %}

            <br />

            <table border="1">
            	<tr>
            		<th> Insertion Date </th>
            		<th> Title </th>
            		<th> Author </th>
            		<th> Actions </th>
            	</tr>
            {% for post in Posts %}
                
                    <tr>
                        <td> 
                            {{ post.getInsertionDate() }}
                        </td>
                        <td>
                        	{{ post.getTitle() }}
                        </td>
                        <td>
                        	{{ post.getAuthor().getName() }}
                        </td>
                        <td>
                        	<a href="{{ path('edit-entry', {'id' : post.getId()}) }}">[Edit]</a>
                            {% if roleUser == 1 %}
                                 - 
                            <a href="{{ path('delete-entry', {'id' : post.getId()}) }}" class="delete">[Delete]</a>
                            {% endif %}
                            
                        </td>
                    </tr>
                    

            {% endfor %}
            </table>
            

        {% endblock %}
    </div>

    <div class="footer">
        © 2017 - Imprint
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    header {text-align:center}
    
</style>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('/jquery-3.3.1.min.js') }}"></script>

	<script type="text/javascript">
		$('document').ready(function(){

			$('.delete').click(function(event){
				event.preventDefault();
				var confirmation = confirm("Are you sure you want to delete this post?");
				if(confirmation == true){
					window.location = this.href;
				}
			})

		});
	</script>

{% endblock %}

